---
import Layout from '../layouts/Layout.astro';
import UrlShortener from '../components/UrlShortener';
import ModernBackground from '../components/ModernBackground';
---

<Layout title="Bolted - Modern URL Shortener">
    <ModernBackground>
    <div class="max-w-2xl container mx-auto my-auto px-4 py-16">
      <h1 class="text-4xl mt-12 font-bold text-center mb-8 bg-gradient-to-r from-[#8E8E8E] via-[#FFFFFF] to-[#8E8E8E] text-transparent bg-clip-text">
        The spark behind lightning-fast URLs
      </h1>
      <p class="text-lg mt-6 font-bold text-center mb-4 bg-gradient-to-r from-[#8E8E8E] via-[#FFFFFF] to-[#8E8E8E] text-transparent bg-clip-text">
        Transform your long URLs into concise, shareable links instantly.
      </p>
      <UrlShortener client:load />
    </div>
  </ModernBackground>
</Layout>